<h1>Will You Be My Valentine, Mary? PLZ?</h1>
<p>Guess one of Jeff's favorite Mary phrases or words in the box and see if you win or something.</p>
<p>NOTE: Spelling is case-insensitive. Don't use punctuation.</p>

<%= form_tag("/pages/home") do %>
  <%= text_field_tag :input_string %>
  <%= submit_tag "Submit" %>
<% end %>

<h2><%= @result %></h2>
<p><%= @status %></p>

<% @love_letter.each do |line| %> 
  <p><%= line %></p>
<% end %>